.select {
   @apply text-gray-600 cursor-pointer appearance-none outline-none h-10 w-full px-2 font-sans text-sm bg-white border-1 border-gray-200 shadow-gray rounded flex items-center transition duration-200 ease-in-out;
   background-image: url("../components/Select/assets/chevron-down.svg");
   background-origin: content-box;
   background-position-y: center;
   background-position-x: right;
   background-repeat: no-repeat;
   background-size: 1rem;

   &--with-elements {
      @apply text-gray-600 cursor-pointer appearance-none outline-none w-full h-full;
      background-image: url("../components/Select/assets/chevron-down.svg");
      background-origin: content-box;
      background-position-y: center;
      background-position-x: right;
      background-repeat: no-repeat;
      background-size: 1rem;
   }

   &--with-value {
      @apply text-gray-1000;
   }
   
   &:disabled {
      @apply text-gray-600 select-none bg-gray-0 shadow-none cursor-not-allowed;
   }
   
   &--default:focus {
      @apply shadow-outline-blue border-blue-500;
   }
   
   &--invalid:focus {
      @apply shadow-outline-red border-red-500;
   }
   
   &--small {
      @apply h-8;
   }

   &--option {
      @apply text-gray-1000;
   }
}
